/* CSS file for the Navigation Bar */

/* Margin for right element */
nav li:first-child{
    margin-right: 100px;
    margin-right: 8vw;
    
}


/* START DROPDOWN */

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: #111;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: fixed;
    /* Use absolute for static menu */
    /*position: absolute;*/ 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f1
}

nav .dropdown:hover .dropdown-content {
    display: block;
}


/* END DROPDOWN */

